# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment folders
.venv/
.venv_nomad/

# Ignore IDE configuration files
.idea/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore logs
*.log

# Ignore other Python specifics
*.pyc
*.pyo
*.pyd
*.env
*.tox
*.egg
*.egg-info/
dist/
build/

# Ignore dependency/binary files
*.lock
*.bak
*.swp

# Ignore any hidden folders or files starting with .
.*
